{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

% Enable test coverage checking
{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {riak_core, "1.2.1", {git, "git://github.com/basho/riak_core", {tag, "1.2.1"}}},
    {bloomd, ".*", {git, "https://github.com/armon/erl-bloomd.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.0"}}},
    {em, ".*", {git, "git://github.com/sheyll/erlymock.git", {branch, "master"}}},
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

