{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "bloomd_ring", "1",
        [
         kernel,
         stdlib,
         sasl,
         bloomd_ring
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "bloomd_ring"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, sasl, [{incl_cond, include}]},
       {app, bloomd_ring, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, eper, [{mod_cond, all}, {incl_cond, include}]}
      ]}.

{target_dir, "bloomd"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/bloomd", "bin/bloomd"},
           {template, "files/bloomd-admin", "bin/bloomd-admin"}
           ]}.
